@media (max-width: 768px) {
    .projects-gallery{
    display:grid;
    grid-template-columns:repeat(2,minmax(220px,1fr));gap:1rem;
    padding: 1.5rem;
    transition: transform 0.3s ease;
}
}

@media (max-width: 480px) {
    .projects-gallery{
    display:grid;
    grid-template-columns:repeat(2,minmax(220px,1fr));gap:1rem;
    padding: 1.5rem;
    transition: transform 0.3s ease;
}
}
    
   